{% load static %}
{% block content %}
<a href="{% url 'base' %}">Главная</a><br>
<a href="{% url 'get_request' %}">Подать заявку</a><br><br>
<form method="get">
    <label for="status">Статус</label>
    <select name="status">
        <option value="">Все</option>
        <option value="Новая">Новая</option>
        <option value="Принято в работу">Принято в работу</option>
        <option value="Выполнено">Выполнено</option>
    </select>
    <input type="submit" value="Применить">
</form>
<h2>Мои заявки</h2>


{% for i in application %}

<p>Дата и время: {{i.date}}</p>
<h5>Название: {{i.name}}</h5>
<p>Описание: {{i.description}}</p>
<p>Категория: {{i.category}}</p>
<img src="{{i.image.url}}" width="450px" height="300px"/>
<p>Статус: {{i.status}}</p><br><br>

<a href="{% url 'request_delete' i.id %}">Удалить</a><br><br>

{% endfor %}

{% endblock %}





